<div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
  <a href="#" class="logo hidden-sm hidden-xs">
      <span>Admin</span>
  </a>
  <div class="search-box">
      <input type="text" placeholder="SEARCH" class="form-control">
  </div>
  <div class="relative-w">
      <ul class="side-menu side-menu-blue">
        <li class="current">
          <%= link_to 'Popular Rearrangements', '/', class: 'current' %>
        </li>
        <li>
          <%= link_to 'Most Moved Widgets', '/pie' %>
        </li>
        <li>
          <%= link_to 'Movements by Age/Gender', '/age' %>
        </li>
        <li>
          <%= link_to 'Popular Areas', '/heatmap' %>
        </li>
      </ul>
  </div>
</div>
