<div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
  <a href="#" class="logo hidden-sm hidden-xs">
      <span>Admin</span>
  </a>
  <div class="search-box">
      <input type="text" placeholder="SEARCH" class="form-control">
  </div>
  <div class="relative-w">
      <ul class="side-menu side-menu-blue">
        <li class="current">
          <a class="current">
            App 1
          </a>
        </li>
        <li>
          <a href="">
            App 2
          </a>
        </li>
      </ul>
  </div>
</div>
