
<div class="widget">
  <h3 class="section-title first-title">Movement of Widgets by Gender/Age</h3>

  <div class="row">
    <ul class="nav nav-tabs">
      <li><a href="#home" data-toggle="tab">Profile Picture</a></li>
      <li><a href="#profile" data-toggle="tab">Newsfeed</a></li>
      <li><a href="#messages" data-toggle="tab">Menu</a></li>
      <li><a href="#settings" data-toggle="tab">Search Bar</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active bar-chart-pp" id="home"></div>
      <div class="tab-pane bar-chart-nf" id="profile"></div>
      <div class="tab-pane bar-chart-menu" id="messages"></div>
      <div class="tab-pane bar-chart-search" id="settings"></div>
    </div>
  </div>
</div>
