
<div class="widget">
  <h3 class="section-title first-title">Popular Positions by Widget</h3>

  <div class="row">
    <ul class="nav nav-tabs">
      <li><a href="#heat-map-home" data-toggle="tab">Profile Picture</a></li>
      <li><a href="#heat-map-profile" data-toggle="tab">Newsfeed</a></li>
      <li><a href="#heat-map-messages" data-toggle="tab">Menu</a></li>
      <li><a href="#heat-map-settings" data-toggle="tab">Search Bar</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="heat-map-home">
        <%= image_tag 'profile-pic.png' %>
      </div>
      <div class="tab-pane" id="heat-map-profile">
        <%= image_tag 'newsfeed.png' %></div>
      <div class="tab-pane" id="heat-map-messages">
        <%= image_tag 'menu.png' %></div>
      <div class="tab-pane" id="heat-map-settings">
        <%= image_tag 'search.png' %></div>
    </div>
  </div>
</div>
