<div class="widget">
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    Flash message
  </div>
</div>
<div class="widget">
  <h3 class="section-title first-title"> Section</h3>
  <div class="row">
  </div>
</div>
