<div class="widget">
  <h3 class="section-title first-title">Popular Rearrangements</h3>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <div class="widget-content-blue-wrapper changed-up">
        <div class="widget-content-blue-inner padded">
          <div class="pre-value-block"><i class="icon-dashboard"></i> Total Visits</div>
          <div class="value-block">
            <div class="value-self">10,520</div>
            <div class="value-sub">Installs</div>
          </div>
          <span class="dynamicsparkline"><canvas width="84" height="19" style="display: inline-block; width: 84px; height: 19px; vertical-align: top;"></canvas></span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <div class="widget-content-blue-wrapper changed-up">
        <div class="widget-content-blue-inner padded">
          <div class="pre-value-block"><i class="icon-user"></i> New Users</div>
          <div class="value-block">
            <div class="value-self">1,120</div>
            <div class="value-sub">Installs</div>
          </div>
          <span class="dynamicsparkline"><canvas width="84" height="19" style="display: inline-block; width: 84px; height: 19px; vertical-align: top;"></canvas></span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center hidden-md">
      <div class="widget-content-blue-wrapper changed-up">
        <div class="widget-content-blue-inner padded">
          <div class="pre-value-block"><i class="icon-signin"></i> Sold Items</div>
          <div class="value-block">
            <div class="value-self">275</div>
            <div class="value-sub">Installs</div>
          </div>
          <span class="dynamicsparkline"><canvas width="84" height="19" style="display: inline-block; width: 84px; height: 19px; vertical-align: top;"></canvas></span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 text-center">
      <div class="widget-content-blue-wrapper changed-up">
        <div class="widget-content-blue-inner padded">
          <div class="pre-value-block"><i class="icon-money"></i> Net Profit</div>
          <div class="value-block">
            <div class="value-self">9,240</div>
            <div class="value-sub">Installs</div>
          </div>
          <span class="dynamicbars"><canvas width="79" height="19" style="display: inline-block; width: 79px; height: 19px; vertical-align: top;"></canvas></span>
        </div>
      </div>
    </div>
  </div>
</div>

